<button>Click Here</button>
<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <!-- We'll attach the PeopleView to this element -->
  <tbody>
  </tbody>
</table>